:root {
  --bg-gradient-primary: linear-gradient(to right, #942BFD, #4457FD);

  --font-family: 'Poppins'
}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}


html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background: #fbfbfb;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.row {
  margin: 0 -1rem;
}
.row > * {
  padding:  1rem;
}

.text-link {
  @apply text-blue-600 hover:text-blue-400;
}